body{
  padding: 2.5em 5em 2.5em 5em;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(228, 39%, 23%);
  background-image: url(images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
}
p{
  color: gray;
}
img{
  object-fit: contain;
}
*{
  box-sizing: border-box;
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
}
.center{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: .8rem;
  transition: color 0.15s;
}
.s-a{
  color: hsl(228, 39%, 23%);
}
.s-a:hover{
  color: gray;
  cursor: pointer;
}
.s-b,.b-h,.c-g,.btn1,.btn2,.btn3,.btn4,.go,.b-c{
  background-color: hsl(12, 88%, 59%);
  color: white;
  border: none;
  padding: .5em 1em;
  font-size: .8rem;
  border-radius: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.btn1,.btn2,.btn3,.btn4{
  transition: background-color 0.15s, color 0.15s , border 0.15s;
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
  background-color: white;
  color: hsl(12, 88%, 59%);
  border: 1px solid hsl(12, 88%, 59%);
}
.b-h{
  pointer-events: none;
}
.s-b:hover{
  opacity: 0.7;
}

.first-section{
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.illustration{
  width: 100%;
}
.b-a{
  font-size: 3rem;
}
.b-b{
  margin-top: 1em;
  font-size: .8rem;
}
.b-c{
  margin-top: 2em;
}
.second-section{
  display: flex;
  margin-top: 3.5em;
}
.b-e{
  margin-top: 1.5em;
  font-size: .8rem;
  line-height: 1.4em;
}
.b-d{
  padding-left: 2em;
}
.b-f{
  margin-bottom: 1.8em;
}
header{
  display: flex;
 align-items: center;
}
.b-i{
  padding-left:1em ;
  font-size: 1rem;
}
.b-j{
  margin-top: 1.2em;
  font-size: .8rem;
  line-height: 1.4em;
}
.third-section{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-f{
  margin-bottom: 3em;
}
.z-z{
  display: none;
}
.c-a{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  text-align: center;
}
.avatarDiv{
  display: flex;
  justify-content: center;
}
.avatar{
  width: 50px;
  position: absolute;
  top:-20px;
  object-fit: contain;
}
.c-b{
  margin-right: 1em;
}
.c-c{
 padding-top: 3em;
}
.c-d{
  padding: 2em 1em;
  font-size: .8rem;
  line-height: 1.3em;
  padding-top: 1.5em;
}
.c-e{
  position: relative;
   background-color: gainsboro;
}
.c-g{
  margin-top: 3em;
}
.d-a{
  color: white;
  background-color: hsl(12, 88%, 59%);
  margin-top: 4.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4.5em 3.5em;
}
.d-c{
  background-color: white;
  color: hsl(12, 88%, 59%);
  padding: .5em 1em;
  border: none;
  border-radius: 15px;
}
.e-a{
  background-color: hsl(233, 12%, 13%);
  justify-content: space-around;
  display: flex;
  padding: 4em 3.5em;
}
li{
  list-style: none;
  font-size: .8rem;
  padding-bottom: .7em;
  color: rgba(245, 245, 245, 0.801);
  transition: color 0.15s;
  cursor: pointer;
}
li:hover{
  color:hsl(12, 88%, 59%) ;
}
.email{
  padding: .6em 1em;
  border-radius: 17px;
  border: none;
}
.e-c{
  margin-top: 2.5em;
}
.e-z{
  margin-top: 4.3em;
  font-size: .7rem;
  text-align: end;
}
.r-a{
  display: none;
}
.menu{
  display: none;
  cursor: pointer;
}
.close{
  display: none;
  cursor: pointer;
}

@media (max-width:420px){
  body{
    padding: 1em;
  }
  nav{
    justify-content: space-between;
  }
  .center{
    display: none;
    position: absolute;
    grid-template-columns: 1fr;
    background-color: whitesmoke;
    row-gap: 15px;
    padding: 3em 11em;
    text-align: center;
    top: 60px;
  }
  .right{
    display: none;
  }
  .menu{
    display: block;
    margin-left: 7em;
  }
  .first-section{
    flex-direction: column;
    text-align: center;
  }
  .b-a{
    font-size: 2rem;
  }
  .b-1{
    order: 2;
  }
  .b-2{
    order : 1;
  }
  .second-section{
    flex-direction: column;
    text-align: center;
  }
  .b-e{
    margin-bottom: 1.5em;
  }
  header{
    background-color: hsl(13, 100%, 96%);
  }
  .b-d{
    padding-left: 0;
  }
  .b-j{
    margin-bottom: 1.5em;
  }
  .c-b{
    display: none;
    margin: 0;
    width: 350px;
  }
  .z-z{
    display: none;
    margin: 0;
    width: 350px;
  }
  #anisha{
   display: block;
  }
  .r-a{
    display: block;
    margin-top: 1em;
  }
  .d-a{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .d-c{
    margin-top: 1em;
  }
  .e-a{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .e-c{
  display: flex;
  margin-top: .5em;
  justify-content: space-around;
 }
 .e-s{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
 }
 .e-r{
  display: flex;
  margin-top: 1.5em;
 }
 .e-z{
  text-align: center;
 }
 li{
  padding-left: .65em;
 }
 .go{
  margin-left: .65em;
 }
 .x-a{
  margin-top: 1.5em;
 }
 .e-x{
  display: flex;
 }
 
 }
